/*General*/

	*{margin:0; padding:0; box-sizing: border-box;}

	#main {
		max-width: 1000px;
		margin: 120px auto 0px auto;
	}

	body {
        background-image: url(https://data.whicdn.com/images/296952513/original.jpg?t=1505164641);
    }

	.centered {
		text-align: center;
	}


	.clearfix:after {
		clear:both;
	   	content:".";
	   	display:block;
	   	height:0;
	   	visibility:hidden;
	}


	.imground {
		border-radius: 50px;
	}

	h1 {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		color: #5B605F;
	}

	h2 {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		color: #fff;
	}

	h6 {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		color: #fff;
	}

	p, label {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		color: #fff;
	}

	button {
		background-color: transparent;
	    border: 1px solid #FF6600;
	    color: white;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    transition-duration: 0.3s;
	    color: #FF6600;
	    width: 100%;
	}

	button:hover {
		background-color: #FF6600;
		color: #fff;
	}

/*Navigation*/

	#nav {
		background-color: #464646;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 9999;
		width: 100%;
		/*height: 120px*/;
		}

	#nav .navbtns {
		text-align: right;
		position: relative;
		float: right;
	}

	#nav .navbtn {
		text-decoration: none;
		font-family: 'Alegreya Sans SC', sans-serif;
		padding: 30px;
		display: inline-block;
		color: white;
		width: 150px;
	}

	#nav .logo{
		padding: 7px;
		display: inline-block;
		position: relative;

	}


	#nav a:hover {
	    background-color: #FF6600;
	    font-weight: bold;
	}

	#nav .selected {
		background-color: #FF6600;
		font-weight: bold;
	}



	input {
		width: 100%;
		height: 24px;
		margin-bottom: 10px;
		/*border-radius: 3px;*/
		border: 1px solid #FF6600;
		background-color: #FFFFFA;
		box-shadow: none;
		padding: 5px;
	}

	textarea:focus, input:focus{
    outline: none;
    border: 2px solid #FF6600;
    background-color: #FFFFFF;
	}


/*Person*/

	.person {
		position:relative;
		float:left;
		left:0;
		top:0;
		height:200px;
		width:400px;
		margin: 25px;
		background-color: gray;
		padding: 15px
	}

	.person:hover {
		background-color: #FF6600;
	}

	ul{
	    padding:20px
	}

	.group{
	    width:600px;
	    margin: auto;
	    background-color: #d4d4d4c4;
	    padding:20px;
	}










